body {
  background-color:transparent !important;
}

html {
  background-color:#283480;
  background-image:-webkit-linear-gradient(30deg, #283480 50%,  #5FBE19 50%);
  height:100%;
}

.no-padding {
  padding:0px !important;
}

.pull-right {
  float:right !important;
}

#totaal_kopieen, #totaal_prijs_exclbtw {
  font-weight:700;
}

#Main {
  border-radius:15px;
  border:5px solid #283480;
  padding:15px;
  background-color:#FFFFFF;
}

